<!DOCTYPE html>
<html>
	<head>
		<title>The Millennial</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/foundation.css' />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	</head>
	<body>
		<%- body %>
	</body>
</html>