<% layout('layout') -%>

<form action="/signup" method="post">
	Username: <input type="text" name="username">
	Password: <input type="password" name="password">
	<input type="submit" value="Submit">
</form>